/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto");

$backgroundColor: #333333;

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  //background-color: #11121a;
  overflow: hidden;

  font-family: 'Roboto', sans-serif
}

.gridster-grid {
  .column, .row {
    border-color: lighten(#11121a, 10) !important;
  }
}

gridster-item {
  background: transparent !important;
}

settings-flyout {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 25vw;
  display: block;
  background-color: #222;
  z-index: 9998;
  transition: all .2s ease-in-out;

  &.hidden {
    right: -25vw;
    transition: all .2s ease-in-out;
  }
}